<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/js/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../src/js/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
</head>

<body>
    <header>
        <div class="navigation-bar">
            <nav>
                <a href="#top">Home</a>
                <a href="#About">About</a>
                <a href="#Contact">Contact</a>

            </nav>
        </div>
    </header>

    <body>

        <div id="About">About</div>
        <div id="Contact">Contact</div>
        <a href="">
            <i class="fab fa-facebook"></i></a>
        </a>
        <a href="">
            <i class="fab fa-twitter"></i></a>
        </a>
        <a href="">
            <i class="fab fa-instagram"></i></a>
        </a>
        <a href="">
            <i class="fa fa-envelope"></i></a>
        </a>
    </body>
    <footer></footer>
</body>

</html>