<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/js/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../src/js/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../src/css/main.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#About">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#top">Home</a>
            </li>
        </nav>
    </header>

    <body>

        <div id="About">About</div>
        <div id="Contact">Contact</div>
        <a href="">
            <i class="fab fa-facebook"></i></a>
        </a>
        <a href="">
            <i class="fab fa-twitter"></i></a>
        </a>
        <a href="">
            <i class="fab fa-instagram"></i></a>
        </a>
        <a href="">
            <i class="fa fa-envelope"></i></a>
        </a>
    </body>
    <footer></footer>
</body>

</html>